*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/netflixx.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px,0;
}

.logo{
    width: 170px;
    height: 100px;
    cursor: pointer;
    opacity: 0.7;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}
/*features*/
.features{
    border: 5px solid grey;
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.slider-col{
    flex-basis: 50%;
    margin-bottom: 40px;
  

}





.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}



.tv-screen {
    position: relative;
    width: 40%;
    height: 200px;
    margin: 0 auto;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .tv-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }



.slider-col {
    width: 100%;
    padding: 1px 20px;
}

.slider {
    overflow: hidden;
    position: relative;
    height: 300px;
}

.slider-track {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 40s infinite linear;
}

.slider-slide {
    width: 20%;
    height: 100%;
}

.slider-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}




.third{
    border: 5px solid grey;
    padding: 50px 12%;
    font-size: 22px;
    
}
.roww{
    display: flex;
    
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
}
.third1{
    display: flex;
    
    width: 50%;
}
.text-container {
    display: flex;

    flex-direction: column;}

    
.para{
    align-self: flex-start;
}


.features4{
    border: 5px solid grey;
    padding: 50px 12%;
    font-size: 22px;
}
.row4{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col4{
    flex-basis: 50%;
    margin-bottom: 20px;
}




.third5{
    border: 5px solid grey;
    padding: 50px 30px;
    font-size: 22px;
    background-color: rgb(5, 5, 24);
   
    }
.row5{
    display: flex;
     width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 
}
.third55{
    display: flex;
    
    width: 50%;
}
.text-container5 {
    display: flex;
    flex-direction: column;
    width: 40%; 
     margin-left: 5%; 
}

    
.para5{
    align-self: flex-start;
}


.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h1{
    font-weight: 500;
    font-size: 40px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion.li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    
    background: #303030;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: tranform 0.5s;
}
input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #494545;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    
    
    transition: max-height 0.5s, padding 0.3s; 
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;

}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}


.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;

}

.faq small{
    font-size: 13px;
}

/*footer*/
.footer{
    padding: 50px 15% 10px;
    border: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .lang{

    padding: 10px 20px;
    border-radius: 3px;
}
.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}



